*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  padding-left: 150px;

  @media screen and (max-width: 1024px) {
    padding-left: 110px;
  }

  @media screen and (max-width: 680px) {
    padding-left: 0;
    padding-top: 80px;
  }
}

html {
  font-size: 1vw;
}
