.lays-promotions {
  // imrpove pixel-perfect
  margin-top: -5px;

  overflow: hidden;

  &__list {
    position: relative;
    display: flex;
    overflow: hidden;

    @include media-mobile {
      flex-direction: column;
    }
  }

  &__item {
    position: relative;
    width: 50%;
    z-index: 4;

    opacity: 0;

    @include media-mobile {
      width: 100%;
      opacity: 1;
    }
  }

  &__background {
    width: 100%;
    height: 100%;
  }

  &__content {
    position: absolute;
    top: 0;
    z-index: 5;
  }

  &__title {
    color: $white;
    line-height: 4.22rem;

    font-family: $fontFam;
    font-size: 3.92rem;
    font-weight: 700;
    letter-spacing: -0.1px;

    &_black {
      color: $black-text;
    }

    &_large {
      font-size: 4.32rem;
    }
  }

  &__description {
    color: $white;

    letter-spacing: -2px;
    line-height: 1.2rem;
    font-family: $fontFam;
    font-size: 1.43rem;
    font-weight: 400;

    @include media-laptop_L {
      letter-spacing: initial;
    }
  }

  & [data-item="red"] {

    // triangle
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      z-index: 6;
      right: calc(-5.14rem / 1.5);

      height: 10.95rem;
      width: 5.14rem;

      transform: translateY(-110%);
      background: url("../assets/img/lays-promotions/triangle_red.png") no-repeat;
      background-size: contain;

      @include media-laptop_L {
        transform: translateY(-109%);
      }

      @include media-mobile {
        display: none;
      }
    }

    & .lays-promotions__title {
      padding-left: 14.8rem;

      @include media-laptop_L {
        // improve pixel perfect
        margin-top: -1px;

        padding-left: 14.6rem;

        line-height: 4.2rem;
        letter-spacing: -0.5px;

      }

      @include media-mobile {
        padding-left: 4.6rem;
        margin-top: 2rem;

        font-size: 8.875rem;
        line-height: 8.875rem;
        letter-spacing: 0px;
      }

      // lays-bag
      &::before {
        content: "";
        position: absolute;
        top: -4.11rem;
        left: 3.05rem;
        z-index: 6;

        width: 17.4rem;
        height: 19.153rem;

        background-image: url("../assets/img/lays-promotions/lays-bag.png");
        background-repeat: no-repeat;
        background-size: cover;

        @include media-laptop_L {
          left: 2.9rem;
          top: -4.2rem;
        }

        @include media-mobile {
          display: none;
        }
      }
    }

    & .lays-promotions__content {
      margin-top: 10.8rem;
      padding-left: 6rem;

      @include media-mobile {
        width: 100%;
      }
    }

    & .lays-promotions__description {
      // improve pixel-perfect
      margin-left: -2px;

      margin-top: 5.1rem;
      line-height: 1.73rem;


      @include media-laptop_L {
        margin-left: -3px;
        line-height: 1.73rem;
      }

      @include media-mobile {
        margin-left: 5rem;
        max-width: 50rem;
        margin-top: 8.8rem;

        font-size: 3.75rem;
        line-height: 5.15rem;
      }
    }

    & .button {
      // improve pixel perfect
      margin-left: -4px;

      margin-top: 3.2rem;

      @include media-laptop_L {
        margin-top: 2.9rem;
        margin-left: -5px;
      }

      @include media-mobile {
        position: absolute;
        left: 50%;
        bottom: -20.9rem;

        margin-left: 0;
        transform: translateX(-50%);
      }
    }
  }

  & [data-item="map"],
  & [data-item="beach"] {
    margin-top: -6px;

    @include media-mobile {
      margin-top: 0;
    }
  }

  & [data-item="map"] {
    top: 7px;
    height: 102.5%;

    @include media-mobile {
      top: 10px;
    }

    // triangle
    &::before {
      content: "";
      position: absolute;
      z-index: 6;
      top: 50%;
      left: calc(-5.14rem / 1.5);

      height: 10.95rem;
      width: 5.14rem;
      transform: translateY(-32%);

      background: url("../assets/img/lays-promotions/triangle_yellow.png") no-repeat;
      background-size: contain;

      @include media-mobile {
        display: none;
      }
    }

    & .lays-promotions__content {
      top: 30.49rem;
      width: 100%;

      @include media-laptop_L {
        top: 30.3rem;
        left: 2px;
      }

      @include media-mobile {
        top: 65.3rem;
        left: 4px;
      }
    }

    & .lays-promotions__title {
      // improve pixel-perfect
      padding-right: 3px;

      text-align: center;

      @include media-mobile {
        font-size: 9.25rem;
      }
    }

    & .button {
      position: relative;
      left: 50%;
      margin-top: 2.75rem;

      transform: translateX(-50%);

      @include media-laptop_L {
        margin-top: 2.55rem;
      }

      @include media-mobile {
        margin-top: 6.75rem;
      }
    }
  }

  & [data-item="balloon"] {
    top: -3px;
    z-index: 1;
    margin-left: -13px;

    transform: scale(1.1);
    overflow: hidden;
    transition: transform 13s, margin-left 13s;
    &:hover {
      transform: scale(1.2);
      z-index: 2;
    }

    @include media-laptop_L {
      margin-left: -10px;
    }

    @include media-mobile {
      margin-left: 0;
      margin-top: -11%;
      margin-bottom: -10%;

      transform: none;
      transition: none;

      &:hover {
        transform: none;
      }
    }
  }

  & [data-item="beach"] {
    transition: transform 13s;
    z-index: 4;
    &:hover {
      transform: scale(1.2);
    }

    @include media-mobile {
      order: 1;
      z-index: 1;
      margin-top: calc(-5% + 5px);

      transform: none;
      transition: none;
      &:hover {
        transform: none;
      }
    }
  }
}

// improve pixel perfect
.lays-promotions {
  & .lays-promotions__list:nth-child(2) {
    margin-top: -6px;
    margin-bottom: -3px;

    @include media-laptop_L {
      margin-bottom: -2px;
    }
  }
}

@keyframes show_to-right {
  from {
    left: -10%;
    opacity: 0.2;
  }
  to {
    left: 0;
    opacity: 1;
  }
}

@keyframes show_to-left {
  from {
    left: 10%;
    opacity: 0.2;
  }
  to {
    left: 0;
    opacity: 1;
  }
}
