.menu {
  width: 150px;
  position: fixed;
  left: 0;
  top: 0;
  background: #f6f6f6;
  height: 100%;
  z-index: 11;

  @media screen and (max-width: 1024px) {
    width: 110px;
  }

  @media screen and (max-width: 680px) {
    width: 100%;
    height: 80px;
  }

  &-dropper {
    display: none;

    @media screen and (max-width: 680px) {
      &:checked ~ .menu__burger .menu__burger-item_middle {
        animation: hide-burger-menu-item 0.7s;
        animation-fill-mode: forwards;
      }

      &:checked ~ .menu__burger .menu__burger-item_top {
        transform: rotate(45deg);
        top: 0;
        left: 0;
      }

      &:checked ~ .menu__burger .menu__burger-item_bottom {
        transform: rotate(-45deg);
        top: 22.5px;
        left: 0;
      }

      &:checked ~ .nav {
        display: block;
      }

      &:checked ~ .nav .nav__item:nth-child(1) {
        animation: to-left_show 0.5s forwards;
      }

      &:checked ~ .nav .nav__item:nth-child(2) {
        animation: to-right_show 0.5s forwards;
      }

      &:checked ~ .nav .nav__item:nth-child(3) {
        animation: to-left_show 0.5s forwards;
      }

      &:checked ~ .nav .nav__item:nth-child(4) {
        animation: to-right_show 0.5s forwards;
      }
    }
  }

  @keyframes hide-burger-menu-item {
    0% {
      left: 0;
      opacity: 1;
    }

    40% {
      opacity: 0;
    }

    100% {
      left: 33px;
      opacity: 0;
    }
  }

  @keyframes show-burger-menu-item {
    0% {
      left: 100%;
      opacity: 0;
    }

    100% {
      left: 0;
      opacity: 1;
    }
  }

  @keyframes to-left_show {
    0% {
      opacity: 0;
      left: -30%;
    }

    100% {
      opacity: 1;
      left: 0;
    }
  }

  @keyframes to-right_show {
    0% {
      opacity: 0;
      right: -30%;
    }

    100% {
      opacity: 1;
      right: 0;
    }
  }

  &__burger {
    position: absolute;
    z-index: 5;
    right: 25px;
    top: 27px;

    width: 32.5px;
    height: 25px;

    cursor: pointer;
    &-item {
      transform-origin: left center;

      position: absolute;
      width: 100%;
      height: 5px;
      background-color: #fc202e;
      transition: transform 0.5s;

      &_middle {
        top: 11px;
        animation: show-burger-menu-item 0.3s;
        animation-fill-mode: forwards;
      }

      &_bottom {
        top: 21px;
      }
    }
  }

  &__logo {
    display: block;
    text-decoration: none;
    position: relative;
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      top: 29px;
      left: 0;
      width: 100%;
      height: 80px;
      background: url("../assets/img/menu/logo.png") center no-repeat;

      @media screen and (max-width: 680px) {
        top: 15px;
        left: 18px;
        width: 57px;
        height: 50px;
        background-size: contain;
      }
    }

    &-text {
      padding-top: 124px;

      font-family: $fontFam;
      font-size: 16px;
      font-weight: 500;
      color: $red-text;
      text-align: center;

      @media screen and (max-width: 680px) {
        padding-top: 28px;
        font-size: 18px;
        letter-spacing: 1px;
        padding-left: 13px;
      }
    }
  }
}
