.nav {
  padding-top: 59px;

  @include media-mobile {
    display: none;
    position: absolute;
    top: $mobile-menu-height;
    left: 0;
    padding-top: 0;
    width: 100%;
  }

  &__item {
    background: $menu-background-color;
    position: relative;
    padding-top: 82px;
    padding-bottom: 23px;

    cursor: pointer;
    font-family: $fontFam;
    font-size: 14px;
    color: rgb(85, 85, 85);
    text-align: center;

    border: 1px solid $menu-background-color;
    transition: background-color 0.5s;

    &:hover {
      border-bottom-color: $menu-item-border-color;
      border-top-color: $menu-item-border-color;

      background: $white;
    }

    @include media-mobile {
      display: flex;
      align-items: center;
      justify-content: center;

      padding-top: 0;
      padding-bottom: 0;
      height: $mobile-menu-item-height;

      opacity: 0;

      border-bottom-color: $menu-item-border-color;
      border-top-color: $menu-item-border-color;
    }

    &_mobile-only {
      display: none;
      height: 60px;
      width: 100%;
      background-color: $ebb;

      color: $gray;
      font-size: 12px;
      text-transform: uppercase;

      @include media-mobile {
        display: flex;
        align-items: center;
      }
    }
  }

  &__item[data-icon]::before {
    content: "";
    position: absolute;
    top: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100px;

    background-repeat: no-repeat;
    background-position: center center;

    @include media-mobile {
      left: 20px;
      top: 50%;
      transform: translate3d(0, -50%, 0);

      display: block;
      width: 40px;
      height: 40px;

      background-size: contain;
      text-align: left;
    }
  }

  &__item[data-icon="camera"]::before {
    background-image: url("../assets/img/menu/gallery.png");
  }

  &__item[data-icon="gift-icon"]::before {
    background-image: url("../assets/img/menu/about-project.png");
    height: 90px;

    @include media-mobile {
      height: 50px;
    }
  }

  &__item[data-icon="geo-position-icon"]::before {
    background-image: url("../assets/img/menu/summer-with-lays.png");
    height: 105px;

    @include media-mobile {
      height: 50px;
    }
  }
}
