.steps {
  display: flex;
  width: 100%;

  & .step:nth-child(1) {
    animation: show-element_opacity 0.4s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
  }

  & .step:nth-child(2) {
    animation: show-element_opacity 0.4s;
    animation-fill-mode: forwards;
    animation-delay: 1.4s;
  }

  & .step:nth-child(3) {
    animation: show-element_opacity 0.4s;
    animation-fill-mode: forwards;
    animation-delay: 1.8s;
  }

  @include media-mobile {
    justify-content: space-around;
  }
}
