.summer-with-lays {
  position: relative;
  width: 100%;

  overflow: hidden;

  background-color: $yellow;

  &__background {
    width: 100%;
    height: auto;

    animation: right-to-left 1s ease-out;

    @include media-mobile {
      display: none;
      animation: show 0.9s ease-out;
    }

    &_mobile {
      display: none;

      @include media-mobile {
        display: block;
      }
    }
  }

  &__steps {
    position: absolute;
    top: 0;
    left: 0;

    padding-top: 4.75rem;
    padding-left: 4.59rem;

    @include media-mobile {
      top: 145px;
      padding-top: 0;
      padding-left: 0rem;
      padding-right: 7.9rem;
    }
  }

  &__label {
    position: absolute;
    top: calc(4.75rem + 39%);
    left: 0;

    width: 100%;
    padding-left: 5rem;
    padding-top: 8px;

    animation: right-to-left 1s ease-out;

    color: $red-text;
    font-family: $fontFam;
    font-size: 3.4rem;
    font-weight: 400;
    line-height: 2.37rem;
    letter-spacing: 5px;

    @include media-laptop_L {
      letter-spacing: 4px;
      line-height: 2.12rem;
    }

    @include media-laptop {
      line-height: 10px;
      padding-top: 0;
      font-size: 3rem;
    }

    @include media-mobile {
      top: 20px;

      padding-top: 0;
      padding-left: 1px;

      text-align: center;
      font-size: 25px;
      line-height: 25px;
      letter-spacing: 1px;
      color: $red-text_dark;
      animation: none;
    }

    &_large {
      line-height: normal;
      font-size: 6.29rem;
      letter-spacing: 6px;
      font-weight: 500;
      line-height: 6.99vw;

      @include media-laptop_L {
        letter-spacing: 4.2px;
      }

      @include media-laptop {
        font-size: 5.8rem;
      }

      @include media-mobile {
        padding-left: 8px;

        font-size: 44px;
        line-height: 44px;
        letter-spacing: 2px;
      }
    }

    &_middle {
      line-height: 5.4rem;
      font-size: 5.25rem;
      letter-spacing: 5.5px;

      @include media-laptop_L {
        letter-spacing: 3px;
      }

      @include media-laptop {
        font-size: 4.71rem;
        line-height: 5.9rem;
        letter-spacing: 3.5px;
      }

      @include media-mobile {
        font-size: 37px;
        line-height: 25px;
        letter-spacing: 1px;
      }
    }
  }
}

@keyframes right-to-left {
  from {
    margin-left: 25%;
    opacity: 0;
  }

  50% {
    opacity: 0.4;
  }

  85% {
    margin-left: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes show {
  from {
    opacity: 0;
    background-color: $yellow;
  }

  50% {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}
