.summer-with-lays {
  position: relative;
  width: 100%;

  overflow: hidden;

  background-color: #ffda2d;
  &__background {
    width: 100%;
    height: auto;
    animation: right-to-left 1s ease-out;

    @media screen and (max-width: 680px) {
      display: none;
      animation: show 0.3s ease-out;
    }

    &_mobile {
      display: none;

      @media screen and (max-width: 680px) {
        display: block;
      }
    }
  }

  & .steps {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 4.75rem;
    padding-left: 4.59rem;

    @media screen and (max-width: 680px) {
      top: 145px;
      padding-top: 0;
      padding-left: 0rem;
      padding-right: 7.9rem;
    }
  }

  &__label {
    position: absolute;
    top: calc(4.75rem + 39%);
    left: 0;
    width: 100%;

    animation: right-to-left 1s ease-out;

    padding-left: 5rem;
    padding-top: 7px;
    color: $red-text;
    font-family: $fontFam;
    font-size: 3.4rem;
    font-weight: 400;
    line-height: 2.37rem;
    letter-spacing: 4px;

    @media screen and (max-width: 1024px) {
      line-height: 10px;
      padding-top: 0;
      font-size: 3rem;
    }

    @media screen and (max-width: 680px) {
      padding-top: 0;
      top: 20px;
      padding-left: 1px;
      text-align: center;
      font-size: 25px;
      line-height: 25px;
      letter-spacing: 1px;
      color: #d62b2b;
      animation: none;
    }

    &_large {
      line-height: normal;
      font-size: 6.29rem;
      letter-spacing: 4.8px;
      font-weight: 500;
      line-height: 6.99vw;

      @media screen and (max-width: 1024px) {
        font-size: 5.8rem;
      }

      @media screen and (max-width: 680px) {
        font-size: 44px;
        line-height: 44px;
        letter-spacing: 2px;
        padding-left: 8px;
      }
    }

    &_middle {
      line-height: 5.4rem;
      font-size: 5.25rem;
      letter-spacing: 5.5px;
      font-weight: 900;

      @media screen and (max-width: 1400px) {
        letter-spacing: 3px;
      }

      @media screen and (max-width: 1024px) {
        font-size: 4.71rem;
        line-height: 5.9rem;
        letter-spacing: 3.5px;
      }

      @media screen and (max-width: 680px) {
        font-size: 37px;
        line-height: 25px;
        letter-spacing: 1px;
      }
    }

    &_font-weight_black {
      font-weight: 900;
    }
  }
}

@keyframes right-to-left {
  from {
    margin-left: 25%;
    opacity: 0;
  }

  50% {
    opacity: 0.4;
  }

  85% {
    margin-left: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes show {
  from {
    opacity: 0;
    background-color: #ffda2d;
  }

  50% {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}
