$mobile-width: 680px;
$laptop-width: 1024px;
$laptop-width_L: 1400px;

$fontFam: "Gotham Pro", "sans-serif";

// colors
$red-text: rgb(247, 57, 52);
$red-text_dark: #d62b2b;
$red_youtube: #c4070e;
$red_mobile-menu-burger: #fc202e;

$black-text: #301f20;
$footer-background_dark-gray: #3c3c3c;
$gray-text_light: #b4b4b4;
$gray: #8e8d8d;

$yellow: #ffda2d;
$yellow-and-orange: #edbf11;

$white: #ffffff;
$menu-item-border-color: #dddddd;
$menu-background-color: #f6f6f6;
$ebb: #f0eded;

$blue_facebook: #326aa2;
$blue_vk: #3479a8;

$mobile-menu-height: 80px;
$mobile-menu-item-height: 80px;
