// display: none in mobile version
.dn_mobile {
  @media screen and (max-width: 680px) {
    display: none;
  }
}

// display: none in desktop version
.dn_desktop {
  @media screen and (min-width: 681px) {
    display: none;
  }
}

.letter-spacing-0 {
  letter-spacing: 0px;
}

.letter-spacing-minus-1z3 {
  letter-spacing: -1.3px;
}

.letter-spacing-minus-1 {
  letter-spacing: -1px;
}

.fw-black {
  font-weight: 900;
}

.red-text {
  color: $red-text;
}

.text-uppercase {
  text-transform: uppercase;
}

